@media only screen and (min-width: 2160px) {
    .hero-area .overlay :nth-child(1) {
        height: 294px !important;
    }
}

@media screen and (min-width: 1920px) {
    .hero-area .contents {
        padding: 280px 0 390px;
    }

    .hero-area .overlay :nth-child(1) {
        height: 250px;
    }

}

@media (min-width: 1200px){
    .hero-area {
        height: 900px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .hero-area .contents h2 {
        font-size: 38px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding: 12px 5px;
        font-size: 13px;
        margin-left: 15px;
    }

    .hero-area .contents {
        padding: 320px 0 0;
    }

    /* .hero-area .white-box {
    height: 0;
  } */

    .what-we-do {
        z-index: 1;
    }

    .section {
        padding: 80px 0px;
    }

    #blog .blog-item-wrapper h3 {
        font-size: 16px;
        line-height: 23px;
    }

    #footer-Content h3.block-title {
        font-size: 16px;
    }

    #footer-Content ul.menu li a {
        font-size: 14px;
        line-height: 31px;
    }

    #footer-Content {
        padding-top: 80px;
    }

    #footer-Content .copyright {
        margin-top: 80px;
    }

    .hero-area .contents h2 {
        color: #06b243;
        font-size: 40px;
        font-weight: 600;
        line-height: 46px;
        margin-bottom: 20px;
    }

    #footer-Content h3.block-title {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .hero-area .contents h2,
    h2 {
        color: #06b243;
        font-size: 36px !important;
    }

    .hero-area .curve {
        top: 50px;
    }

    .white-box {
        height: 68%;
    }

    .box-hero-video {
        box-shadow: 0px 4px 0px 5px rgb(52, 217, 134, 0.75);
    }

    .dashed-circle:before {
        top: -95%;
        left: -25%;
    }

    .circle-path {
        top: 20%;
        left: 75%;
    }

    #navbar-search:focus-within {
        right: 0;
        width: 100%;
    }

    #navbar-search input[type=search]:focus {
        width: calc(100% - 10px);
        padding-right: 0;

    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding: 12px 0px;
        font-size: 13px;
        margin-left: 12px;
    }

    .hero-area .contents {
        padding: 200px 0 0px;
    }

    .contact-img img {
        max-width: 100%;
        display: block;
        margin: 0px auto;
    }

    #footer-Content .footer-logo img {
        padding-top: 0;
    }

    #footer-Content .copyright p {
        color: #3ecf8e;
        font-size: 14px;
    }

    .hero-area .intro-img {
        padding: 100px 0 0px;
    }

    .blog-hero-area .contents h2 {
        font-size: 36px;
    }

    .btn-singin {
        background: #7fc9fb;
        color: #fff;
        padding: 10px 14px;
        margin-left: 12px;
        box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
        font-size: 11px;
    }

    .btn-light-singin {
        background: #7fc9fb;
        color: #fff;
        padding: 10px 14px;
        margin-left: 12px;
        box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
        font-size: 11px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding: 12px 0px;
        font-size: 14px;
    }

    .pt-70 {
        padding-top: 20px;
    }

    .contact-box {
        padding: 30px;
    }

    .contact-box>h2 {
        margin-bottom: 20px;
    }

    .contact-box p {
        font-size: 16px;
    }

    .contact-box h3 {
        font-size: 20px;
    }

    #footer-Content .txt-copyright {
        text-align: center;
        font-size: 12px;
    }

    .footer-link {
        justify-content: center;
    }

    #footer-Content .txt-green {
        font-size: 14px;
        margin-bottom: 10px;
    }

    #footer-Content .txt-connect {
        font-size: 18px;
    }

    .footer-arrow {
        font-size: 18px;
    }

    .footer-link li i {
        width: 14px;
        height: 14px;
    }

    .footer-link li a {
        font-size: 10px;
    }

    #footer-Content p {
        font-size: 10px;
        line-height: 12px;
    }
}

@media only screen and (max-width: 767px) {

    .fixed-top.navbar {
        top: 0;
    }

    .bg-inverse {
        background: #34d986;
    }

    #navbar-search input[type=search]:focus {
        width: 200px;
    }

    #navbar-search {
        top: 0;
        right: 10px;
    }

    .dashed-circle {
        left: -40%;
        top: 10%;
    }

    .hero-area .curve {
        top: 100px;
    }

    .box-hero-video {
        height: auto;
    }

    .white-box {
        height: 65%;
    }

    .hero-area .intro-img {
        padding: 80px 0 0px;
    }

    .hero-area .contents p {
        width: 70%;
    }

    .hero-area .contents h2 {
        width: 60%;
        font-size: 22px;
    }

    h2 {
        font-size: 22px;
    }

    .hero-area .contents {
        padding-top: 230px;
    }

    .bg-inverse {
        background: #191c1e;
    }

    .navbar-expand-md .navbar-brand,
    .navbar-expand-md .navbar-toggler {
        margin: 6px 15px;
    }

    .bg-inverse {
        background: #34d986;
    }

    .navbar {
        padding: 0;
    }

    .navbar-brand img {
        width: 100px;
    }

    #blogs .carousel-item {
        padding: 15px;
    }

    #blogs {
        padding: 0 25px;
    }

    #blogs .carousel-inner {
        height: 385px;
    }

    .blogs-card .description {
        line-height: 20px;
    }

    .blogs-carousel-container .carousel-control-next {
        right: -15px;
    }

    .blogs-carousel-container .carousel-control-prev {
        left: -15px;
    }

    .contact-box {
        padding: 15px;
    }

    .flickity-prev-next-button.previous {
        left: 0px !important;
        top: 170px;
    }

    .flickity-prev-next-button.next {
        right: 0px !important;
        top: 170px;
    }

    .contact-box h3 {
        font-size: 16px;
    }

    .contact-box p {
        font-size: 12px;
        line-height: 20px;
    }

    #similar p {
        font-size: 14px;
        line-height: 18px;
    }

    #footer-Content .txt-green {
        font-size: 12px;
        margin-bottom: 10px;
    }

    #footer-Content .txt-connect {
        font-size: 14px;
    }

    #footer-Content .txt-copyright {
        text-align: center;
        font-size: 8px;
    }
    .footer-arrow {
      color: #06b243;
      font-size: 18px;
  }
    .footer-link {
        justify-content: center;
    }

    .footer-link li a {
        font-size: 8px;
        padding: 5px;
    }

    .footer-link li i {
        width: 12px;
        height: 12px;
    }

    #footer-Content p {
        font-size: 8px;
        line-height: 12px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .bg-inverse {
        background: #34d986;
    }

    .navbar {
        padding: 0;
    }

    .navbar-brand img {
        width: 100px;
    }

    .navbar-expand-md .navbar-brand,
    .navbar-expand-md .navbar-toggler {
        margin: 6px 15px;
    }

    .btn-singin {
        background: transparent;
        color: #fff;
        padding: 10px 23px;
        margin-left: 0;
        box-shadow: 0px 0px 0px 0px rgba(96, 94, 94, 0.17);
    }

    .white-box {
        height: 80%;
    }

    .dashed-circle {
        left: -80%;
        top: 10%;
    }

    .box-hero-video {
        height: auto;
    }

    .hero-area .contents h2 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
        width: 70%;
    }

    .hero-area .contents {
        padding: 170px 0 50px;
    }

    .hero-area .contents p {
        color: #aeafae;
        font-size: 14px;
        line-height: 20px;
        width: 100%;
    }

    .hero-area .contents .btn {
        margin-top: 30px;
        margin-right: 4px;
        text-transform: uppercase;
        width: 125px;
        height: 45px;
        padding: 15px 14px;
        font-size: 12px;
    }

    .hero-area .contents .btn-border {
        border: 1px solid #fff;
        color: #fff;
        -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        width: 122px;
        height: 45px;
        padding: 15px 15px;
    }

    .hero-area .intro-img {
        padding: 30px 0 0px;
    }

    .section {
        padding: 70px 0px;
    }

    .section-header .section-title {
        font-size: 25px;
    }

    .section-header .desc-text p {
        font-size: 14px;
        color: #5e629c;
        line-height: 24px;
        margin-bottom: 0;
    }

    #blog .blog-item-wrapper .blog-item-text {
        padding: 20px 15px 15px 15px;
    }

    #blog .blog-item-wrapper h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 12px;
    }

    #blog .blog-item-wrapper {
        margin-bottom: 15px;
    }

    #footer-Content .copyright p {
        color: #3ecf8e;
        font-size: 12px;
    }

    #footer-Content ul.menu li a {
        color: #e2e2e2;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }

    #footer-Content h3.block-title {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #footer-Content .footer-logo img {
        padding-top: 0;
    }

    #footer-Content .footer-logo img {
        padding-top: 0;
        width: 40%;
    }

    #blog .blog-item-wrapper .author {
        border-top: 1px solid #ddd;
        padding: 18px 10px 15px 10px;
    }

    #footer-Content .copyright {
        margin-top: 30px;
    }

    .blog-hero-area .contents h2 {
        color: #fff;
        font-size: 25px;
    }

    .blog-hero-area .contents {
        padding: 100px 0 90px;
    }

    #brand-area .brand-subtitle h5 {
        font-size: 18px;
    }

    #brand-area {
        padding: 50px 0px 60px 0;
    }

    #footer-Content h3.block-title {
        margin-bottom: 18px;
        margin-top: 15px;
    }

    .back-to-top {
        display: none !important;
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    
}

@media (min-width: 414px) and (max-width: 736px) {
    
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 15px;
        padding: 8px 0px;
        margin-left: 18px;
    }

    .hero-area .contents h2 {
        font-size: 38px;
    }

    .section {
        padding: 100px 0px;
    }

    #blog .blog-item-wrapper .blog-item-text {
        padding: 20px 15px 15px 15px;
    }

    #blog .blog-item-wrapper h3 {
        font-size: 18px;
    }

    #blog .blog-item-wrapper a.read-more {
        font-size: 12px;
    }

    #footer-Content {
        padding-top: 100px;
    }

    #footer-Content .copyright {
        margin-top: 100px;
    }

    /* .hero-area .contents p {
        color: #aeafae;
        font-size: 16px;
        line-height: 26px;
    } */

    .hero-area2 .contents p {
        color: #fff;
        font-size: 16px;
        line-height: 26px;
    }

}