/* @font-face {
    font-family: helveticaLight;
    src: url('../fonts/Helvetica-Light.ttf');
  }
  
  nav .navbar-nav .nav-link {
    font-family: helveticaLight !important;
    text-transform: uppercase;
  } */

.bg-gradient {
    background-image: linear-gradient(to right, #62bd64, #29aabe);
}

.curve {
    position: absolute;
    width: 100%;
    top: 130px;
}

.curve img {
    max-width: 100%;
}

.what-we-do {
    position: relative;
    background: #fff;
    padding-bottom: 20px;
    padding-top: 130px
}

.what-we-do .curve {
    z-index: 0;
}

.blank-space {
    height: 130px;
    background: #fff;
}

.media-container {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 8px #C7C7C7;
}

.media-links li {
    text-align: center;
    display: table-cell;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 150px;
}

.media-links li:hover {
    background-color: #fff;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 1px 1px 8px #C7C7C7;
}

.media-links li a {
    padding: 10px 15px;
    display: block;
}

.media-links li .icon-ar {
    width: 130px;
}

.media-links li .icon-design {
    width: 100px;
}

.media-links li .icon-gameDesign {
    width: 100px;
}

.media-links li .icon-video {
    width: 100px;
}

.carousel img {
    max-width: 100%;
    width: 100%;
}

.work-sample-box a {
    display: block;
    border: 3px solid #fff;
    border-radius: 25px;
}

.work-sample-box a img {
    height: 260px;
}

#works-carousel .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}

#works-carousel .carousel-indicators li.active {
    background-color: #4cfda5;
}

#works-carousel .carousel-indicators {
    justify-content: flex-end;
    margin-right: 0;
    bottom: 0;
}

.blogs-carousel-container {
    position: relative;
}

#blogs {
    padding: 0 50px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px;
    overflow: visible;
    height: 300px;
}

#blogs .carousel-inner {
    height: 360px;
    transform: translateY(-25px);
    border-radius: 25px;
    box-shadow: 1px 1px 10px #c7c7c7;
    background-color: #fff;
}

#blogs .carousel-item {
    padding: 50px 30px;
}

.blogs-card .author {
    font-size: 18px;
    color: #06b243;
}

.client-thumb {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border: 4px solid #e7e7e7;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #c6c6c629;
}

.blogs-carousel-container .carousel-control-prev-icon,
.blogs-carousel-container .carousel-control-next-icon {
    background-image: url(../img/bcg/arrow-right.png);
    z-index: 1;
    width: 40px;
    height: 40px;
}

.blogs-carousel-container .carousel-control-prev-icon {
    transform: rotate(180deg);
}

.blogs-carousel-container .carousel-control-prev,
.blogs-carousel-container .carousel-control-next {
    z-index: 1;
    opacity: 1;
}

.blogs-carousel-container .carousel-control-prev {
    justify-content: flex-start;
    left: -20px;
}

.blogs-carousel-container .carousel-control-next {
    z-index: 1;
    justify-content: flex-end;
    right: -20px;
}

.blogs-card .description {
    text-align: justify;
}

section .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
}

#get-in-touch {
    position: relative;
    height: 1100px;
    padding-top: 500px;
    background: #fff;
}

#get-in-touch .overlay{
    top: 500px;
    opacity: 0.8;
}

#googleMap {
    position: absolute;
    width: 100%;
    height: 100%;
}

.contact-box {
    position: absolute;
    z-index: 9;
    background: #fff;
    border-radius: 25px;
    padding: 30px 50px;
    box-shadow: 1px 1px 10px #c7c7c7;
    transform: translateY(-340px);
}

.contact-box:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 73px solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0;
    margin-left: -73px;
    margin-bottom: -73px;
}

.contact-box h3 {
    text-transform: uppercase;
    font-size: 24px;
    text-align: left;
    color: #605b5b;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 20px;
    line-height: 36px;
}

::placeholder {
    color: #fff;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

:-webkit-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

#contactForm .form-control {
    background-color: #06b243;
    border-radius: 0;
    color: #fff;
}

#contactForm .form-control:focus {
    background-color: #06b243;
}


#similar {
    background: #fff;
    position: relative;
}




input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: #ededed url(../img/bcg/icon-search.png) no-repeat center right 9px;
    border: 0;
    padding: 9px 32px 9px 10px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    background-size: 20px 20px;
    background-color: #34d986;
}

input[type=search]:focus {
    width: 130px;
    background-color: #34d986;
    border-color: #66CC75;
}


input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

#navbar-search {
    position: absolute;
    right: 0;
}

#navbar-search input[type=search] {
    width: 15px;
    padding-right: 10px;
    color: transparent;
    cursor: pointer;
}

#navbar-search input[type=search]:hover {
    background-color: #06b243;
}

#navbar-search input[type=search]:focus {
    width: 150px;
    padding-right: 32px;
    color: #fff;
    background-color: #06b243;
    cursor: auto;
}

#navbar-search input:-moz-placeholder {
    color: transparent;
}

#navbar-search input::-webkit-input-placeholder {
    color: transparent;
}










.carousel-cell .content {
    padding: 20px;
    color: #fff;
}

.carousel-cell .content h4,
.carousel-cell .content p,
.carousel-cell .content a {
    color: #fff;
}

.carousel-cell .content p {
    line-height: 20px;
    margin-bottom: 20px;
}

.carousel-cell .content .more img {
    width: 16px;
}

.carousel-cell .content h4 {
    font-size: 22px;
    text-transform: uppercase;
}



.flickity-container {
    width: 100%;
    height: 600px;
    position: relative;
}


@import url("https://fonts.googleapis.com/css?family=Hind:400,700");

html,
body {
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9e2fd;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #FFFFFF;
    background-image: linear-gradient(#FFFFFF 50%, #FFFFFF 50%, #F0F3FC 50%);
    box-shadow: 0px 12px 39px -19px rgba(0, 0, 0, 0.75); */
    overflow: hidden;
}

.carousel-wrapper .carousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}

.carousel-wrapper .carousel .carousel-cell {
    padding: 0;
    background-color: #FFFFFF;
    width: 250px;
    height: auto;
    min-width: 120px;
    margin: 0 20px;
    transition: transform 500ms ease;
    border-radius: 25px;
    opacity: 0.3;
}

.carousel-wrapper .carousel .carousel-cell .more {
    display: block;
    opacity: 0;
    margin: 5px 0 15px 0;
    text-align: center;
    font-size: 10px;
    color: #CFCFCF;
    text-decoration: none;
    transition: opacity 300ms ease;
}

.carousel-wrapper .carousel .carousel-cell .more:hover,
.carousel-wrapper .carousel .carousel-cell .more:active,
.carousel-wrapper .carousel .carousel-cell .more:visited,
.carousel-wrapper .carousel .carousel-cell .more:focus {
    color: #CFCFCF;
    text-decoration: none;
}

.carousel-wrapper .carousel .carousel-cell .line {
    position: absolute;
    width: 2px;
    height: 0;
    background-color: black;
    left: 50%;
    margin: 5px 0 0 -1px;
    transition: height 300ms ease;
    display: block;
}

.carousel-wrapper .carousel .carousel-cell .price {
    position: absolute;
    font-weight: 700;
    margin: 45px auto 0 auto;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 300ms ease 300ms;
}

.carousel-wrapper .carousel .carousel-cell .price sup {
    top: 2px;
    position: absolute;
}

.carousel-wrapper .carousel .carousel-cell.is-selected {
    transform: scale(1.2);
    z-index: 9;
    box-shadow: 1px 1px 10px #c7c7c7;
    opacity: 1;
}

.carousel-wrapper .carousel .carousel-cell.is-selected .line {
    height: 35px;
}

.carousel-wrapper .carousel .carousel-cell.is-selected .price,
.carousel-wrapper .carousel .carousel-cell.is-selected .more {
    opacity: 1;
}

.carousel-wrapper .flickity-page-dots {
    display: none;
}

.carousel-wrapper .flickity-viewport,
.carousel-wrapper .flickity-slider {
    overflow: visible;
}

.flickity-prev-next-button.next {
    right: 100px !important;
}

.flickity-prev-next-button.previous {
    left: 100px !important;
}

.flickity-prev-next-button.next::after,
.flickity-prev-next-button.previous::after {
    content: "";
    position: absolute;
    z-index: 9;
    background-image: url(../img/bcg/arrow-right.png);
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.flickity-prev-next-button.previous::after {
    transform: rotate(180deg);
}










.circle-path {
    width: 200px;
    height: 200px;
    border: 5px solid #ececec;
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 15%;
    right: 0;
    margin: auto;
    border-radius: 50%;
    z-index: 9;
}

.circle-path .circle {
    width: 18px;
    height: 18px;
    background: #0b8e36;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 6s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg) translate(-100px) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translate(-100px) rotate(-360deg);
    }
}

.dashed-circle {
    position: absolute;
    margin: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: -225px;
    top: 35%;
    z-index: 9;
  }
  
  .dashed-circle:before {
    position: absolute;
    content: '';
    height: calc(100% + 10px); 
    width: calc(100% + 10px); 
    border: 2px dashed #67e3a4;
    top: -13px;
    left: -13px;
    border-radius: inherit;
    animation: spin 10s linear infinite;
  }
  
  @keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
  }


  



  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 1px 1px 10px #c7c7c7;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #06b243;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
  }
  
  .sidenav a:hover {
    color: #06b243;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }